<div>
    <div class="home-image">
        <img src="{{imageUrl}}"
            alt="{{title}}">
    </div>
    <div class="info">
        <h4>{{title}}</h4>
        <div class="info-buttons">
            <a class="btn details" href="/theaters/details/{{_id}}">Details</a>
            <span class="likes">{{usersLiked.length}}</span>
          
        </div>
    </div>
</div>
